// Common rules
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, button, span, label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: "Spartan", sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 6rem;
    line-height: 1.20;
}

h2 {
    font-size: 4.10rem;
    line-height: 1.20;
}

h3 {
    font-size: 1.90rem;
    line-height: 1.30;
}

h4 {
    font-size: 1.50rem;
    line-height: 1.80;
}

h5 {
    font-size: 1.20rem;
    line-height: 1.30;
}

// Body
p, a, b, table, label, ul, ol, li, input, textarea {
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    line-height: 1.45;
    font-weight: 400;
}


// Links
a {

}

// Non-breaking copy, useful for preventing widows
.text-nowrap {
    white-space: nowrap;
}

