// Common rules
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, button, span, label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
}

// Headings
h1, h2, h3, h4 {
    font-family: "Spartan", sans-serif;
    font-weight: 800;
}

h5 {
    font-family: "Spartan", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6rem;
    line-height: 1.20;
}

h2 {
    font-size: 3.75rem;
    line-height: 1.20;
}

h3 {
    font-size: 1.90rem;
    line-height: 1.20;
}

h4 {
    font-size: 1.50rem;
    line-height: 1.20;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.50;
}

// Body
p, a, b, table, label, ul, ol, li, input, textarea {
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    line-height: 1.80;
    font-weight: 400;
}


// Links
a {
    text-decoration: underline;

    &:hover {
        color: $link-hover-underline-color;
    }

    &.no-style {
        text-decoration: none;
    }
}

// Non-breaking copy, useful for preventing widows
.text-nowrap {
    white-space: nowrap;
}

