files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_devbuild.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/leader_only ]; then
        echo "Running Migrations"
        container_id=`docker ps -aqf "name=app" | head -n 1`
        docker inspect $container_id
        docker exec $container_id php /var/www/html/vendor/silverstripe/framework/cli-script.php dev/build
        docker exec $container_id chown -R www-data:www-data /var/www/html/silverstripe-cache
      fi
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_rm_leader_only.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/leader_only ]; then
        echo "Deleting leader_only file"
        rm /tmp/leader_only
      fi

container_commands:
  01_touch_the_leader:
    command: |
      #!/usr/bin/env bash
      touch /tmp/leader_only
    leader_only: true
