// Spartan Regular
@font-face {
    font-family: 'Spartan';
    src: url('/fonts/spartan/spartan-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

// Spartan Black
@font-face {
    font-family: 'Spartan';
    src: url('/fonts/spartan/spartan-black.ttf');
    font-weight: 900;
    font-style: normal;
}