// Body settings
$body-background-color: $black;

// Tyopgraphy settings
$text-color: $white;

// Link settings
$link-hover-underline-color: $white;

// Navigation settings
$navigation-background-color: $black;
$navigation-foreground-color: $white;
$navigation-mobile-background: $gray-500;
$navigation-mobile-foreground: $white;

// List settings
$list-point-background-color: $white;
$list-point-foreground-color: $white;
$list-association-color: $gray-500;

// Reversed settings
$reversed-background-color: $white;
$reversed-foreground-color: $black;