// Body settings
$body-background-color: $black;

// Tyopgraphy settings
$text-color: $white;

// Navigation settings
$navigation-background-color: $black;
$navigation-foreground-color: $white;
$navigation-mobile-background: $gray-500;
$navigation-mobile-foreground: $white;