<footer id="footer ">
 <div class="container  text-muted">
    <div class="row text-muted">
        <div class="col-8">
            <h2>This website is Open-source</h2>
            <h5>This website is Open-source Developed and hosted by Symbiote.</h5>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="col-2 offset-2">
            <h4>Extra</h4>
            <ul>
                <li><a href="{{ variable_value('social_media', 'instagram') }}">Instagram</a></li>
                <li><a href="/tickets">Tickets</a></li>
                <li><a href="/terminology">Terminology</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="aboriginal-statement">
        <p>We acknowledge the traditional owners of Country throughout Australia and their continuing connection to land, air, water and community.  We thank them for their custodianship and care of this land and pay our respects to elders past, present and emerging. Sovereignty was never ceded.</p>
    </div>

        <p>
        {#&copy;{{ 'now'|date('Y') }} {{ setting_value('streams::name', 'Your Site') }}, All rights reserved.#}
        &copy;{{ 'now'|date('Y') }} Your Company, All rights reserved.
        </p>
    </div>
</footer>
