<div class="container-fluid navigation nav">
    <a href="{{ url("/") }}" class="no-style">
        <img class="nav__logo"></img>
    </a>

    <input type="checkbox" id="nav" class="hamburger-nav-toggle-checkbox" />
    <label htmlFor="nav" class="hamburger-toggle-icon"><i></i><i></i><i></i></label>

    {{ structure()
        .bootstrap4()
        .listClass('nav__links')
        .cache({'namespace': user().id ~ ':' ~ config('app.locale')})
        .render()|raw }}
</div>
