<div class="container-fluid navigation">
    <div className="nav__logo">
        <a href="{{ url("/") }}">
            <h3>{{ setting_value('streams::name', config_get('streams::distribution.name')) }}</h3>
        </a>
    </div>
    <input type="checkbox" id="nav" className="hamburger-nav-toggle-checkbox" />
    <label htmlFor="nav" className="hamburger-toggle-icon"><i></i><i></i><i></i></label>

    {{ structure()
        .bootstrap4()
        .listClass('nav__links')
        .cache({'namespace': user().id ~ ':' ~ config('app.locale')})
        .render()|raw }}
</div>
