<div class="container">
    {% if block.title|length %}
        <h1 class="text-center">{{ block.title }}</h1>
    {% endif %}

    <div class="carousel-wrapper">
        {% for slide in block.slides %}
        <div>
            <div class="row">
                <div class="col-6 col-md-6">
                    {{ img(slide.image).class('img-responsive')|raw }}
                </div>
                <div class="col-6 col-md-6">
                    {{ slide.content|raw }}
                    {% if slide.title %}
                        <h4>{{ slide.title }}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>