<div class="container text-center">
    {% if block.title|length %}
        <h2 class="block__title">
            {{ block.title }}
        </h2>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-4 text-center" data-aos="fade-right" data-aos-duration="1000">
            <a href="mailto:{{ block.email_address }}" target="_blank"><h3>Email address</h3></a>
        </div>
        <div class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-duration="1000">
            <a href="{{ block.website }}" target="_blank"><h3>Website</h3></a>
        </div>
        <div class="col-12 col-md-4 text-center" data-aos="fade-left" data-aos-duration="1000">
            <a href="{{ block.instagram }}" target="_blank"><h3>Instagram</h3></a>
        </div>
    </div>
</div>
