<div class="row">
    <div class="col-12 col-md-4">
        <a href="mailto:{{ block.email_address }}" target="_blank">Email address</a>
    </div>
    <div class="col-12 col-md-4">
        <a href="{{ block.website }}" target="_blank">Website</a>
    </div>
    <div class="col-12 col-md-4">
        <a href="{{ block.instagram }}" target="_blank">Instagram</a>
    </div>
</div>