<div class="row">

    <div class="row">
        {% for card in block.four_column_card %}
        <div class="col-6 col-md-3">
           {{ img(card.image).class('img-responsive')|raw }}
           <h4>{{ card.title }}</h4>
           <p>{{ card.summary }}</p>
            </div>
        {% endfor %}
    </div>
</div>