<div class="container">
    <div class="hero-banner">
        <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
            {% if block.title|length %}
                <h1>{{ block.title.value }}</h1>
            {% endif %}

            <h4>{{ block.subtitle.value }}</h4>
            {{ block.content|raw }}
        </div>
    </div>
</div>
