{% set bg = (block.switch_background.true) ? 'reversed' : '' %}

<div class="{{ bg }}" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="col-xs-12 col-lg-9">
            {{ block.content|raw }}
        </div>
</div>