<div class="row">
    <div class="col-12 col-md-4">
        <h1>{{ block.title.value }}</h1>
        {{ block.content|raw }}
    </div>
    <div class="col-12 col-md-8">
        <iframe src="https://snazzymaps.com/embed/283081" width="100%" height="500px" style="border:none;"></iframe>
    </div>
</div>