<div class="container-fluid">
    <div id="block--{{ block.id }}" class="block block--{{ block.extension.value.slug }}">
        <div class="block__content">
            {{ content|raw }}
        </div>
    </div>
</div>