<div id="block--{{ block.id }}" class="block block--{{ block.extension.value.slug }}">
    <div class="reversed">
        <div class="container container--small" >
            <div class="block__content">
                {{ content|raw }}
            </div>
        </div>
    </div>
</div>